/*/bin
/*/arp_cache
/*/pox
/*/pox_module/cs640.egg-info
/*/pox_module/cs640/__init__.pyc
/*/pox_module/cs640/ofhandler.py
/*/pox_module/cs640/ofhandler.pyc
/*/pox_module/cs640/vnethandler.pyc
/*/pox_module/cs640/VNSProtocol.pyc
/*/rtable.r1
/*/rtable.r2
/*/rtable.r3
/*/VirtualNetwork.jar
/*/ip_config
/hw3/.gradle
/hw3/.project
/hw3/.settings
/hw4/assign4/SyncDB
